.navigation {
    box-shadow: 1px 1px 10px 1px black;
    margin-bottom: 5vh;
    background-color: #00000030;
}

.navbar-brand::after {
    content: "Livro de Receitas";
    padding-left: 20px;
}

.navigation-links:hover {
    font-weight: 500;
}

.linkActive {
    border-top: 2px solid #00000030;
}

.nav-auth {
    width: 100px;
}