<div class="row">
    <div class="col-12">
        <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-fluid img-details mx-auto d-block">
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="dropdown" appDropdown>
            <button class="btn btn-primary dropdown-toggle" appDropdown>Opções
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="onAddToShoppingList()" style="cursor: pointer;" class="dropdown-item">Adicionar ao
                        Carrinho</a></li>
                <li><a href="#" class="dropdown-item">Editar Receita</a></li>
                <li><a href="#" class="dropdown-item">Excluir Receita</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        {{recipe.description}}
    </div>
</div>

<div class="row">
    <div class="col-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                <strong>Ingrediente:</strong> {{ingredient.name}}<br>
                <strong>Quantidade:</strong> {{ingredient.amount}}
            </li>
        </ul>
    </div>
</div>