.img-details {
    width: 350px;
    box-shadow: 1px 1px 10px 1px black;
    margin: 5vh 0px;
}

.list-group-item {
    margin-top: 10px;
    border: 1px solid rgb(222, 226, 230);
}

.list-group-item:last-child {
    margin-bottom: 20px;
}