<div class="row">
    <div class="col-12">
        <img src="" alt="" class="img-fluid">
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>Nome da Receita</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-primary dropdown-toggle">Opções
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">
                        Adicionar ao Carrinho
                    </a></li>
                <li><a href="#">
                        Editar Receita
                    </a></li>
                <li><a href="#">
                        Excluir Receita
                    </a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        Descrição
    </div>
</div>

<div class="row">
    <div class="col-12">
        Ingredientes
    </div>
</div>