<a class="list-group-item clearfix border rounded p-3 m-3 expand cursor-pointer" [routerLink]="[index]"
    routerLinkActive="active box-active">
    <div class="d-flex align-items-start">
        <div>
            <h4 class="list-group-item-heading">{{recipe.name}}</h4>
            <p class="list-group-item-text">{{recipe.description}}</p>
        </div>
        <div class="ms-auto">
            <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-fluid" routerLinkActive="img-fluid-active">
        </div>
    </div>
</a>