.edit-warning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid #00000030;
    background-color: #00000010;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 1px #00000030;
    margin: 20px 0px 40px 0px;
    padding: 10px 0px;

    animation: fade-in 1s ease forwards;
    opacity: 0;
}

.edit-warning p {
    text-align: center;
    margin: 0px;
}

.edit-warning p:first-child {
    font-weight: 500;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}